
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mazaharul">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/hisabinvoice.css">
 
  <!-- Site Title -->
  <title> Invoice</title>
</head>
<style>
  
</style>

<body>


    <% if(locals.searchProduct && locals.sProductId && locals.totalCost && locals.userIn && locals.bDetails){%>
  <div class="cs-container">
    
    <div class="cs-invoice cs-style1">
      <div class="cs-invoice_in" id="download_section">
        <div class="cs-invoice_head cs-type1 cs-mb25">
          <div class="cs-invoice_left">
            <p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Invoice No:</b> <%-userIn.ivcno%></p>
            <p class="cs-invoice_date cs-primary_color cs-m0"><b class="cs-primary_color">Print Date: </b><%- userIn.prDaet%></p>
            <p class="cs-invoice_date cs-primary_color cs-m0"><b class="cs-primary_color">Status: </b> <span>Running</span></p>
          </div>
          <div class="cs-invoice_right cs-text_right">
            <div class="cs-logo cs-mb5"><img style="width: 120px" src="/./upload/<%-userIn.logopath%>" alt="Logo"></div>
          </div>
        </div>
        <div class="cs-invoice_head cs-mb10">
          <div class="cs-invoice_left  cs-primary_color ">
            <b class="cs-primary_color">Seller info:</b>
            <p class=" cs-primary_color ">
              <%-userIn.fname%>  <%-userIn.lname%> <br>
               
             
           <%-userIn.addr%>  <br>
           <%-userIn.phone%>
            </p>
          </div>
          <div class="cs-invoice_right cs-text_right  cs-primary_color ">
            <b class="cs-primary_color">Buyer Info:</b>
            <p class=" cs-primary_color ">
              <%-bDetails.buyerName%>  <br>
           <%-bDetails.buyerAddress%>  <br>
           <%-bDetails.buyerPhone%> <br>
       
            </p>
          </div>
        </div>
        <div class="cs-table cs-style1">
          <div class="cs-round_border">
            <div class="cs-table_responsive">
              <table>
                <thead>
                  <tr>
                    <th class="cs-width_2 cs-semi_bold cs-primary_color cs-focus_bg">Date</th>
                    <th class="cs-width_5 cs-semi_bold cs-primary_color cs-focus_bg">Items</th>
           
                    <th class="cs-width_1 cs-semi_bold cs-primary_color cs-focus_bg">Price</th>
                    <th class="cs-width_2 cs-semi_bold cs-primary_color cs-focus_bg">Quantity</th>
                    <th class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Total</th>
                  </tr>
                </thead>
                <tbody>
                    <%for(let i=0;i<searchProduct.length;i++){%> 
                  <tr>
                    <td class="cs-width_3  cs-primary_color "><%=searchProduct[i].entryDate%></td>
                    <td class="cs-width_3  cs-primary_color "><%=searchProduct[i].productName%></td>

                    <td class="cs-width_3  cs-primary_color "><%=searchProduct[i].productPrice%></td>
                    <td class="cs-width_2  cs-primary_color "><%=searchProduct[i].pQnty%></td>
           
                    <td class="cs-width_2 cs-text_right  cs-primary_color "><%=searchProduct[i].pTotal%></td>
                  </tr>
                 <%}%>
                
                </tbody>
              </table>
            </div>
            <div class="cs-invoice_footer cs-border_top">
              <div class="cs-left_footer cs-mobile_hide">
                <p class="cs-mb0"><b class="cs-primary_color">Additional Information:</b></p>
                <p class="cs-m0">You can print your payments as many times as you want. </p>
              </div>
              <div class="cs-right_footer">
                <table>
                  <tbody>
                    <tr class="cs-border_left">
                      <td class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">Subtoal</td>
                      <td class="cs-width_3 cs-semi_bold cs-focus_bg cs-primary_color cs-text_right"><%-totalCost%> ৳ </td>
                    </tr>
                    <tr class="cs-border_left">
                      <td class="cs-width_3 cs-semi_bold cs-primary_color ">Invoice Fee</td>
                      <td class="cs-width_3 cs-semi_bold  cs-primary_color cs-text_right">-0 ৳</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="cs-invoice_footer">
            <div class="cs-left_footer cs-mobile_hide"></div>
            <div class="cs-right_footer">
              <table>
                <tbody>
                  <tr class="cs-border_none">
                    <td class="cs-width_3 cs-border_top_0 cs-bold cs-f16 cs-primary_color">Total Amount</td>
                    <td class="cs-width_3 cs-border_top_0 cs-bold cs-f16 cs-primary_color cs-text_right"><%-totalCost - 0%> ৳</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
        <div class="cs-ml15 cs-signature">
            <div class="signature-img">
              <p class="aSign"><%-userIn.invoiceSign%></p>
            </div>
            <p style="color: black;"> Authority Signature</p>
        </div> 
        
        
        <div class="cs-note">
          <div class="cs-note_left">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 56v120a32 32 0 0032 32h120M176 288h160M176 368h160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </div>
          <div class="cs-note_right">
            <p class="cs-mb0"><b class="cs-primary_color cs-bold">Note:</b></p>
            <p class="cs-m0">This will simplify your calculations.You should always use it in an honest way. <a href="#">hisab.com</a></p>
          </div>
        </div><!-- .cs-note -->
      </div>
     
      <div class="cs-invoice_btns cs-hide_print">
        <a href="/profile" id="download_btn" class="cs-invoice_btn cs-color2">
          
            <i style="padding-right: 6px;" class="fa-solid fa-left-long"></i>
            <span>Get Back </span>
        </a>
        <a href="javascript:window.print()" class="cs-invoice_btn cs-color1">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path
                    d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24"
                    fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                <rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none"
                    stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                <path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none"
                    stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
                <circle cx="392" cy="184" r="24" />
            </svg>
            <span>Print</span>
        </a>
   
       
    </div>
    </div>
  </div>
 
  <%}%>
</body>
</html>